<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
      <!-- <p>{{n<10?'0'+n:n}}</p>
   
      <p v-text="n"></p>
      <div v-html="html"></div> -->
     <!--  <p v-pre>{{data中的变量}} 是vue的模版语法</p>   -->
      <!-- v-pre 跳过模版语法的编译 -->
      <!-- <p v-once >{{n}}</p> -->
      <!-- 只编译一次 -->

      <!-- 双向数据绑定   数据<=>试图   input checkbox radio select  -->
      <!-- <p>{{val}}</p>
      <input type="text" v-model="val"> -->
      <!-- <input type="checkbox" v-model="checked" id=""> -->
      <!-- <h3>您选择了{{radio}}</h3>
     男： <input type="radio" name="ra"  value="男" v-model="radio">
     女： <input type="radio" name="ra" value="女" v-model="radio" > -->


     <!-- <div v-if="show">提交信息成功</div> -->
     <div v-show="show">提交信息成功</div>
     <!-- v-show='布尔值 true 显示  false 隐藏   display:none/block    -->
     <!-- v-if="布尔值" true 显示  false 隐藏   删除元素 -->
     <button v-on:click="submit">提交</button>
    </div>
    <script>
        /* 
            创建模式
                1. CDN  引入vue.js  不常用 语法和脚手架相同
                2. npm  脚手架
        */
        new Vue({
            el:'#app',  // 挂载点  声明容器
            data:{      // data声明数据, 可以自动更新到视图
                n:19,
                html:'<span>span</span>',
                val:'123',
                checked:false,
                radio:'',
                show:false
            },
            mounted() {  // window.onload 
                // setInterval(()=>{  // 箭头函数 的this指向 父级this的环境
                //     this.n++;
                // },500);
            },
            methods:{
                submit(){
                    
                    this.show=true;
                }
            }
        })

        var s = 100;
        
    </script>
</body>
</html>